	QGroupBox {
		background-color:rgba(255,255,255,30%); /*第四个参数是表示透明度*/
		border-style:outset;                    /*边框样式（inset/outset）*/
		border-width:4px;                       /*边框宽度像素*/
		border-radius:10px;                      /*边框圆角半径像素*/
		border-color:rgba(255,255,255);         /*边框颜色*/
		margin-top: 8px;                        /*给标题在顶部预留空间*/
		padding:6px;                            /*填衬*/
                }